@import 'mixins';

// header
.site-header{background:#292929; min-width:800px; @include single-box-shadow(rgba(0,0,0,.1), 0, 1px, 3px); position:relative; margin-bottom:25px;}
.site-header > h1{float:left; margin:10px; font-size:30px; font-weight:normal;}
.site-header > h1 em{font-style:normal; font-weight:200;}
.site-header a, .site-header a:hover{text-decoration: none; border:0;}

// logo
.logo-holder{float:left; padding:10px 10px 0 15px; height:56px;}
.logo{border:0;}
.logo img{height:21px;}
.logo div{@include font-size14; color:#fff; @include opacity(.6); margin:-3px 0 0 25px;}

// quicklinks
.current-project{float: right; color: #AAA; margin:19px 20px 19px 0; @include font-size14;}
.quick-link{margin:19px 10px; float: left;}

// nav
.site-header nav{float:left;}
.site-header nav a{border-bottom:0;}
.site-header nav > ul > li{float:left; margin-left:15px; padding:16px 15px;}
.site-header nav > ul > li > a{color:#fff; @include font-size18; font-weight:300; text-decoration: none;}
.site-header nav > ul > li > a i{position: absolute; left: 15px; margin-top: 2px;}

.site-header .dropdown-menu a i{@include opacity(.3); position:relative; top:1px;}
.site-header .dropdown.open{background: #fff;}
.site-header .dropdown.open a{color:#333;}
.site-header .dropdown .empty{padding:0 10px; color:#aaa; @include font-size14;}

// account
.account-holder{color:#fff; @include font-size14; padding:19px 15px; float:right;}
.account-holder .sign-out{margin-left:10px; color:#3A9B9E; text-decoration: none;}

// admin nav
#admin-nav{padding:10px 0; background:url(../../assets/transparent_black_80.png) repeat; overflow:hidden; position:fixed; bottom:0; width:100%; z-index:1;}
#admin-nav ul > li{float:left; margin:0 20px;}
#admin-nav label{display:inline; margin-right:10px; color:#fff;}